<h1><%=@team.name%></h1>

<h2>Team Motto: <%=@team.motto%></h2>

<h2>Hero Name: <%=@hero_one.name%></h2>

<p>Hero Power: <%=@hero_one.power%></p>
<p>Hero Biography: <%=@hero_one.bio%></p>

<h2>Hero Name: <%=@hero_two.name%></h2>

<p>Hero Power: <%=@hero_two.power%></p>
<p>Hero Biography: <%=@hero_two.bio%></p>

<h2>Hero Name: <%=@hero_three.name%></h2>

<p>Hero Power: <%=@hero_three.power%></p>
<p>Hero Biography: <%=@hero_three.bio%></p>

