
<h1><%=@par[:name]%></h1>
<h2>Team Motto: <%=@par[:motto]%></h2>
<br>
<h1>Hero Name: <%=@par[:member1_name]%></h1>
<h2>Hero Power: <%=@par[:member1_power]%></h2>
<h2>Hero Biography: <%=@par[:member1_bio]%></h2>
<br>
<h1>Hero Name: <%=@par[:member2_name]%></h1>
<h2>Hero Power: <%=@par[:member2_power]%></h2>
<h2>Hero Biography: <%=@par[:member2_bio]%></h2>
<br>
<h1>Hero Name: <%=@par[:member3_name]%></h1>
<h2>Hero Power: <%=@par[:member3_power]%></h2>
<h2>Hero Biography: <%=@par[:member3_bio]%></h2>
